 body {
	 background-image: url("/images/swirl_pattern.png");

}


nav {
	border:2px solid green;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}

a {
  padding: 50px;
}

.table {
	color: blue;
}

.ng-table {
    border: 1px solid #000;
}
