<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div ng-show='displayForm'>
            <div class="page-header">
                <h2></span>Create an Event</h2>
            </div>
            <form>
                <div id="name-group" class="form-group">
                    <label>Event Name</label>
                    <input type="text" name="name" class="form-control" placeholder="What is the name of the event?" ng-model='event.title'>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="number" class="form-control" placeholder="Enter The Date" ng-model='event.date'>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input type="text" class="form-control" placeholder="Enter The Time" ng-model='event.startTime'>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input type="text" class="form-control" placeholder="Enter The Time" ng-model='event.endTime'>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label>Guest List</label>
                    <input type="text" class="form-control" placeholder="Guests Go Here" ng-model='event.guests'>
                    <span class="help-block"></span>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block" ng-click='createEvent(event)'>
                    <span class="glyphicon glyphicon-flash"></span> Submit Event
                </button>
            </form>
        </div>
