<button>Past Events</button>
<button>Future Events</button>
<button>TBD Events</button>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Filter" ng-model="searchEvents">
    </div>
  </div>
</form>
<table ng-table class="table" show-filter="true">
    <tr ng-repeat="event in events | filter: searchEvents">
        <td data-title="'ID'">
            {{event.id}}
        </td>
        <td data-title="'Name'">
            {{event.title}}
        </td>
        <td data-title="'Attendance Count'">
            {{event.date | date:"MM/dd/yyyy"}}
        </td>
        <td data-title="'Start Time'">
            {{event.startTime | date:"MM/dd/yyyy 'at' h:mma"}}
        </td>
        <td data-title="'End Time'">
            {{event.endTime | date:"MM/dd/yyyy 'at' h:mma"}}
        </td>
        <td data-title="'RSVP'">
          <input type="text" class="form-control" placeholder="email" ng-model='event.guest.email'>
          <input type="text" class="form-control" placeholder="First Name" ng-model='event.guest.firstName'>
          <input type="text" class="form-control" placeholder="Last Name" ng-model='event.guest.lastName'>
          <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="rsvp(event)">
              <span class="glyphicon glyphicon-flash"></span> RSVP
          </button>
        </td>
        <td>
            <button btn btn-warning ng-click="deleteEvent(event)">Delete Event</button>
        </td>
    </tr>
</table>
